---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { createHash } from "crypto";

interface Author {
  email: string;
  display: string;
}

interface BlogPostData {
  title: string;
  description: string;
  pubDate: Date;
  authors: Record<string, Author>;
  tags?: string[];
}

type BlogPost = {
  id: string;
  data: BlogPostData;
};

const posts: BlogPost[] = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Blog Posts">
  <div class="container mx-auto px-4 py-8">
    <h1 class="h1 mb-4 font-bold">Blog Posts</h1>
    <p class="mb-8">
      Find the latest posts from me (and some friends) about technology,
      programming, and more!
    </p>
    <div class="grid max-h-[70vh] gap-6 overflow-y-auto">
      {
        posts.map((post) => (
          <a href={`/blog/${post.id.replace(/\.[^.]*$/, "")}`}>
            <div class="card bg-base-100 shadow-xl">
              <div class="card-body">
                <h2 class="card-title">{post.data.title}</h2>
                <p>{post.data.description}</p>
                <div class="mt-2 flex items-center gap-2">
                  {Object.entries(post.data.authors).map(([_, author]) => (
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-8 rounded-full">
                          <img
                            src={`https://www.gravatar.com/avatar/${createHash(
                              "sha256",
                            )
                              .update(author.email.toLowerCase().trim())
                              .digest("hex")}?s=256&d=identicon`}
                            alt={`${author.display} avatar`}
                          />
                        </div>
                      </div>
                      <span class="text-sm">{author.display}</span>
                    </div>
                  ))}
                </div>
                <div class="mt-2 flex flex-wrap gap-1">
                  {post.data.tags?.map((tag: string) => (
                    <span class="badge badge-secondary badge-sm">{tag}</span>
                  ))}
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
